* {
    font-family: 'Architects Daughter', cursive;
}

input[type=text],
input[type=number],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: orange;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgba(255, 166, 0, 0.906);
}

.main {
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px 30px;
    margin: 0 20%;
}

.main h2 {
    text-align: center;
}

@media screen and (max-width: 500px) {
    .main {
        border-radius: 5px;
        padding: 10px 30px;
        margin: 0 5%;
    }
}